.vscode/
.idea/
node_modules/
*.js
*.js.map
*.esm.json
*.tns.json
*.metadata.json
*.log
!demo/karma.conf.js
!demo/app/tests/*.js
demo/platforms/
demo-angular/platforms/
demo-vue/platforms/
!demo/e2e-tests/*
!demo-vue/app/app.js
*.aar
/src/*.tgz
*.d.ts
!*index.d.ts
!*datetimepicker.d.ts
!*date-picker-field.d.ts
!*time-picker-field.d.ts
/publish/package/*.tgz
/publish/package/**/*