<ActionBar class="action-bar">
    <Label class="action-bar-title" text="DateTimePicker Demo NG"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="p-20">
        <Label text="basic usage" class="content"></Label>
        <DatePickerField hint="select date"></DatePickerField>
        <TimePickerField hint="select time"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>

        <Label text="initial values" class="content"></Label>
        <DatePickerField date="2019/02/24"></DatePickerField>
        <TimePickerField time="01:00"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>

        <Label text="min and max date" class="content"></Label>
        <DatePickerField minDate="2020/02/02" maxDate="2021/02/02" hint="tap to select"></DatePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>

        <Label text="time format 12h" class="content"></Label>
        <TimePickerField time="16:00" timeFormat="h:mm a" locale="en_US"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>

        <Label text="time format 24h" class="content"></Label>
        <TimePickerField time="16:00" timeFormat="HH:mm" locale="en_UK"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>

        <Label text="modified picker texts" class="content"></Label>
        <DatePickerField hint="tap to choose" pickerOkText="Approve" pickerCancelText="Reject" 
            pickerTitle="Confirm predefined date selection" pickerDefaultDate="2019/05/15"></DatePickerField>
        <TimePickerField hint="tap to choose" pickerOkText="Approve" pickerCancelText="Reject" 
            pickerTitle="Confirm predefined time selection" pickerDefaultTime="22:00"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="preferred locale: en_US" class="content"></Label>
        <DatePickerField locale="en_US" hint="select date" pickerOkText="OK"
            pickerCancelText="Cancel" pickerTitle="Select date"></DatePickerField>
        <TimePickerField locale="en_US" hint="select time" pickerOkText="OK"
            pickerCancelText="Cancel" pickerTitle="Select time"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="preferred locale: de_DE" class="content"></Label>
        <DatePickerField locale="de_DE" hint="datum auswählen" pickerOkText="Bestätigen"
            pickerCancelText="Stornieren" pickerTitle="Datum auswählen"></DatePickerField>
        <TimePickerField locale="de_DE" hint="zeit wählen" pickerOkText="Bestätigen"
            pickerCancelText="Stornieren" pickerTitle="Zeit wählen"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="custom format" class="content"></Label>
        <DatePickerField date="2019/02/24" dateFormat="'date': dd MMMM yyyy"></DatePickerField>
        <TimePickerField time="01:00" timeFormat="'time': HH:mm"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="binding" class="content"></Label>
        <Label [text]="dateTime" color="#CBCBCB"></Label>
        <DatePickerField [(ngModel)]="dateTime"></DatePickerField>
        <TimePickerField [(ngModel)]="dateTime"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="css applied" class="content"></Label>
        <DatePickerField date="2019/02/24" pickerTitle="select date" class="apply-css"></DatePickerField>
        <TimePickerField time="01:00" pickerTitle="select time" class="apply-css"></TimePickerField>
        <StackLayout class="hr-light m-10" android:visibility="collapse"></StackLayout>
        
        <Label text="custom button" class="content"></Label>
        <Button [text]="dateText" (tap)="onPickDateTap($event)"></Button>
        <Button [text]="timeText" (tap)="onPickTimeTap($event)"></Button>
    </StackLayout>
</ScrollView>